body {
    padding: 20px;
    text-align: center;
}
.app {
    margin: 0 auto;
}
.squadron.header {
    margin-top: 100px;
    font-size: .8em;
}
.squadron span {
    display: inline-block;
    border-top: 0;
    border-left: 0;
    border-right: 1px solid transparent;
    border-bottom: 0;
    transform: rotate(-60deg);
    transform-origin: 0 0;
    white-space: nowrap;
    text-align: initial;
}
.squadron input {
    margin: 0;
    border-top: 0;
    border-left: 0;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
.squadron:first-child input {
    border-top: 1px solid;
}
.squadron input[type="number"] {
    text-align: right;
}
.squadron .amount {
    width: 60px;
}
.squadron input.amount {
    border-left: 1px solid;
}
.squadron .type {
    width: 100px;
}
.squadron input[type="radio"],
.squadron .hullClass {
    width: 20px;
    border: 0;
}
.squadron .baseDamageExplosive,
.squadron .baseDamageKinetic,
.squadron .baseDamageThermal,
.squadron .shieldExplosive,
.squadron .shieldKinetic,
.squadron .shieldThermal,
.squadron .armorExplosive,
.squadron .armorKinetic,
.squadron .armorThermal {
    width: 40px;
}
.squadron .special {
    width: 150px;
}
.squadron input.baseDamageExplosive,
.squadron input.shieldExplosive,
.squadron input.special {
    border-left: 1px solid;
}
.squadron .efficiencyStrongVersus,
.squadron .efficiencyWeakVersus,
.squadron .efficiencyResilientVersus,
.squadron .efficiencyVulnerableVersus {
    width: 20px;
    border: 0;
}
.squadron fieldset {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
}

.score {
    margin-top: 15px;
}
.score .offence,
.losses .offence {
    color: rgb(204, 14, 0);
}
.score .defence,
.losses .defence {
    color: rgb(0, 48, 204);
}
.score #tactic {
    margin-right: 20px;
}

.offence .squadron * {
    border-color: rgb(204, 14, 0) !important;
}
.defence .squadron * {
    border-color: rgb(0, 48, 204) !important;
}

.losses ul {
    display: inline-block;
    list-style: none;
    text-align: left;
    vertical-align: top;
}